+++
title = "Ninjabot"
linkTitle = "Ninjabot"
+++

{{< blocks/cover title="Ninjabot: A fast cryptocurrency trading bot implemented in Go" image_anchor="top" height="min" color="dark" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-dark mr-3 mb-4" href="https://github.com/rodrigo-brito/ninjabot">
        Download <i class="fab fa-github ml-2 "></i>
    </a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Ninjabot is an open source platform that provides tools to implement custom strategies and backtests for trading cryptocurrencies in Go.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/rodrigo-brito/ninjabot" %}}
Follow the project on [GitHub](https://github.com/rodrigo-brito/ninjabot) for updates and new features.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-code-branch" title="Contributions welcome!" url="https://github.com/rodrigo-brito/ninjabot/pulls" %}}
We do a [Pull Request](https://github.com/rodrigo-brito/ninjabot/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-comments" title="Discussions" url="https://github.com/rodrigo-brito/ninjabot/discussions" %}}
Join the community discussions on Github.
{{% /blocks/feature %}}


{{< /blocks/section >}}

